<div class="search-box">
    <%= form_with url: users_path, method: :get, remote: true do |f| %>
      <div class="my-5">
      <div id="selected_user_names"></div>
      <input type="text" id="serch_box" placeholder="名前で検索" class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <div id="selectable-options"></div>
  
      <select id="select" class="hidden">
        <% User.all.each do |user| %>
          <option value=<%= user.id%>>
            <%= user.name %>
          </option>
        <% end %>
        <%= text_field_tag :users, User.all.pluck(:user_id).join(",") + ",", class:"hidden" %>
      </select>
    </div>
    <% end %>
</div>


<%= javascript_import_module_tag "user" %>