<div class="border-solid border-2 md:border-t-0 border-amber-200 bg-gradient-to-br from-yellow-200 via-yellow-500 to-yellow-200 opacity-50 rounded-3xl hover:opacity-100", style ="height: 35vw;">
    <div class="flex">
      <div>
        <%= image_tag n[3], class:"m-[3.125vw] drop-shadow-2xl",style:"height:30vw; width: auto; max-width: 20vw;"%>
      </div>
      <div class="block">
        <div class= "mx-[2.125vw]">
          <div>
            <p class= "text-white my-[1.525vw] drop-shadow-2xl font-serif" style="font-size:4vw; height:auto;"><%= n[1] %></p>
          </div>
          <p class= "text-white my-[1.525vw] drop-shadow-2xl font-serif" style="font-size:2.5vw;"><%= n[2] %></p>
          <p class= "text-white my-[1.525vw] drop-shadow-2xl font-serif" style="font-size:2.5vw;"><%= n[4] %></p>
          <p class= "text-white my-[1.525vw] drop-shadow-2xl" style="font-size:1.5vw;">ISBN:<%= n[0] %></p>
        </div>
        <div class= "flex">
        <% if current_user.present? %>
          <%= render 'shared/favorite_button', { isbn: n[0], favorited: @books.where(isbn:n[0].to_i).count > 0 } %>
          <%= link_to 'Share', "https://twitter.com/share?url=https://comicgoldrush.fly.dev&text=#{current_user.name}さんは%0a#{n[1]}と出会いました%0a", 
          title: 'Twitter',class:"mx-[2.125vw] px-2 py-1 bg-white text-xl text-yellow-500 font-semibold rounded hover:bg-zinc-200",style:"width:6vw; font-size:1.6vw;", target: '_blank' %>
        <% else %>
        <%= link_to 'Share', "https://twitter.com/share?url=https://comicgoldrush.fly.dev&text=ゲストさんは%0a#{n[1]}と出会いました%0a", 
        title: 'Twitter',class:"mx-[2.125vw] px-2 py-1 bg-white text-xl text-white font-semibold rounded hover:bg-zinc-200",style:"width:6vw; font-size:1.6vw;", target: '_blank' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>