<div class="search-box">
    <%= form_with url: items_keysearch_path, method: :get, remote: true do |f| %>
    <div class="form-group">
      <div>
        キーワード:
        <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
      </div>
      <div class = "my-2">
        ジャンル:
        <%=  f.select(:genre, ["少年", "少女", "青年","レディース","文庫","その他"]) %>
      </div>
        <%= f.submit '漫画を検索', class: "px-2 py-1 bg-blue-400 text-xl text-white font-semibold rounded hover:bg-blue-500", onclick: "buttonClick()" %>
    </div>
    <% end %>
</div>
<div id="loader" class="hidden">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_a2chheio.json"  background="#FFFFFF"  speed="0.5"  style="width: 80vw; height: 20vw;"  loop  autoplay></lottie-player>
</div>
<% if @itema.present? %>
  <div class="my-2 border-solid border-t-2 border-purple-900">
  <% @itema.each do |n| %>
    <%= render partial: 'shared/item', locals: { n: n } %>
  <% end %>
  </div>
<% end %>

<script>
function buttonClick() {
  let element = document.getElementById("loader");
  element.classList.remove("hidden");
}
</script>
